<h1>Listing employees</h1>

<table id="employees-table">
  <tr>
    <th>Name</th>
    <th>Rate</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Employee</a>