<h1>New employee</h1>

<form id="new-employee" name="employee">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="rate"> rate:</label>
    <input type="text" name="rate" id="rate" value="<%= rate %>" >
  </div>

  <div class="field">
    <label for="company"> company:</label>
    <input type="text" name="company" id="company" value="<%= company %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Employee" />
  </div>

</form>

<a href="#/index">Back</a>