<h1>Listing clients</h1>

<table id="clients-table">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Client</a>