# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ee8e66d422def1a4e53cc526c791ddc42242934134c5f02e08dbdab30b9a0ddc6dc2d136a35d7fde3e4e2f929b4684a60fabfcce6c5c50ac7433684f92b91943

test:
  secret_key_base: 8f5a943759644a6c50425460133755e97cf6e013af456a11d3296a1caeaa819d71a2552a2c51d17f9fd7ea54a664926885a50e94f095731ecf5208ce4ff9ca99

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
