<h1>Listing companies</h1>

<table id="companies-table">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Website</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>Province</th>
    <th>Postal code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Company</a>