<h1>Listing entries</h1>

<table id="entries-table">
  <tr>
    <th>Minutes</th>
    <th>Rate</th>
    <th>Client</th>
    <th>Company</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Entry</a>